{% extends 'base.html.twig' %}

{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block css %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/css/smart_wizard.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/css/smart_wizard_theme_arrows.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/css/smart_wizard_theme_circles.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/css/smart_wizard_theme_dots.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/js/jquery.smartWizard.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#smartwizard').smartWizard({
                theme: 'arrows'
            });
        });
    </script>

{% endblock %}

{% block header %}
    Welcome to Symfony Flex Builder
{% endblock %}

{% block content %}

    {% if form is defined %}
        {{ form_start(form) }}
        <div id="smartwizard">
            <ul>
                {% for key, component in form.components %}
                    <li><a href="#step-{{ key }}">Step {{ key }}<br /><small>{{ component.vars.label }}</small></a></li>
                {% endfor %}
            </ul>

            <div>
                {% for key, component in form.components %}
                    <div id="step-{{ key }}" class="">
                        Step Content {{ key }}
                        {{ form_row(component) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}

    {% if flex is defined %}
        composer req {% for element in flex.components %}{{ element|lower }} {% endfor %}
    {% endif %}
{% endblock %}
