{% extends 'base.html.twig' %}

{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block css %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/css/smart_wizard.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/css/smart_wizard_theme_arrows.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/css/smart_wizard_theme_circles.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/css/smart_wizard_theme_dots.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/smartwizard@4.2.2/dist/js/jquery.smartWizard.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#smartwizard').smartWizard({
                theme: 'arrows',
                toolbarSettings: {
                    toolbarExtraButtons: [
                        $('<button></button>').text('Generate')
                            .addClass('btn btn-info')
                    ]
                }
            });
        });

        $('#wizard').submit(function (event) {
            if(0 === $('#wizard input[type=checkbox]:checked').length) {
                event.preventDefault();
                alert("It's mandatory to choose at least one option for Flex!");
            }
        })
    </script>

{% endblock %}

{% block header %}
    {% block notifications %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {%if label == 'error'%} {% set label = 'danger' %} {%endif%}
                <div class="alert alert-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock notifications %}
{% endblock %}

{% block main %}

    <div class="row marketing">
        <div class="col-lg-8 col-lg-offset-2">

    {% if form is defined %}
        {{ form_start(form) }}
        <div id="smartwizard">
            <ul>
                {% for key, component in form.components %}
                    <li><a href="#step-{{ loop.index }}">Step {{ loop.index }}<br /><small>{{ component.vars.label }}</small></a></li>
                {% endfor %}
            </ul>

            <div>
                {% for key, component in form.components %}
                    <div id="step-{{ key }}" class="">
                        Step Content {{ key }}
                        {{ form_row(component) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div style="display: none;" id="submitFormButton">
            {{ form_end(form) }}
        </div>
    {% endif %}

    {% if flex is defined %}
        composer req {% for element in flex.components %}{{ element|lower }} {% endfor %}
    {% endif %}
    </div>
    </div>

{% endblock %}
